altgraph==0.17.5
asgiref==3.11.1
cryptography==46.0.1
Django==5.2.12
packaging==26.0
pefile==2024.8.26
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
reportlab==4.4.10
pywin32==311 ; sys_platform == "win32"
pywin32-ctypes==0.2.3
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.12.0
